:root {
    --text-color: black;
    --background-color: white;
    --accent-color: rgb(218, 245, 209);
    --embed-color: rgb(0, 101, 52);
}

* {
    margin: 0;
    padding: 0;
}

html {

    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    height: clamp(10rem, 100vh, 100vh);

    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'poppins';

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "navbar"
    "main"
    "bot";
}

.navbar {
    grid-area: navbar;
}

.main {
    grid-area: main;
}

.bot {
    grid-area: bot;
}

/*____________________NAV-BAR_______________________*/

.navbar {

    color: var(--text-color);
    margin-bottom: 10px;
    border-bottom: 3px solid var(--text-color);
}

.nav-container {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
}

.nav-container .creator {

    flex-grow: 1;
}

.nav-container .sections {

    display: flex;
    gap: 20px;
}

.nav-container div {

    margin: 1.5rem;
}

.nav-container a {

    color: var(--text-color);
    text-decoration: none;
}

.nav-container a:hover {
    
    text-decoration: underline;
    color: var(--embed-color);
    border-color: var(--embed-color);
    border-radius: 20px;
    transition: 0.1s;
}

/*____________________MAIN_______________________*/

.main {

    background-color: var(--background-color);
    margin: 1.5rem;
}

.main-container {

    display: grid;
    grid-template-columns: 45vw auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "img h2"
    "img desc"
    "img .";

    height: clamp(10vh, 40vh, 100%);
}

.main-container .img {

    grid-area: img;
}

.main-container img {

    width: 40vw;
    height: 75vh;
    object-fit: cover;
    object-position: center;
    border-radius: 2rem;
}

.main-container h2 {

    grid-area: h2;
    text-align: right;
    font-size: 7.5vw;
}

.main-container .desc {

    grid-area: desc;
    text-align: right;

    background-color: var(--accent-color);
    border-radius: 2rem;
    padding: 1rem;
}


/*____________________BOT_______________________*/

.bot {

    margin-top: 10px;
    border-top: 3px solid var(--text-color);
}

.bot-container {

    display: flex;
    justify-content: right;
    align-items: center;
    height: 2.5rem;

    margin-right: 1.5rem;
    gap: 10vw;
}

.bot-container a {

    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 5px;
    transition: 0.1s;
}

.bot-container a:hover {

    text-decoration: underline;
    color: var(--embed-color);
    border-bottom: 2px solid var(--embed-color);
}